# coding: utf-8

"""
    IMDbAPI

    IMDb API for accessing movie and TV show data  # noqa: E501

    OpenAPI spec version: 2.7.12
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from py_imdb_api_dev_client.api_client import ApiClient


class InterestApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def i_mdb_api_service_get_interest(self, interest_id, **kwargs):  # noqa: E501
        """Get interest by ID  # noqa: E501

        Retrieve details of a specific interest using its ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.i_mdb_api_service_get_interest(interest_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str interest_id: Required. The ID of the interest to retrieve. (required)
        :return: ImdbapiInterest
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.i_mdb_api_service_get_interest_with_http_info(interest_id, **kwargs)  # noqa: E501
        else:
            (data) = self.i_mdb_api_service_get_interest_with_http_info(interest_id, **kwargs)  # noqa: E501
            return data

    def i_mdb_api_service_get_interest_with_http_info(self, interest_id, **kwargs):  # noqa: E501
        """Get interest by ID  # noqa: E501

        Retrieve details of a specific interest using its ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.i_mdb_api_service_get_interest_with_http_info(interest_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str interest_id: Required. The ID of the interest to retrieve. (required)
        :return: ImdbapiInterest
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['interest_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method i_mdb_api_service_get_interest" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'interest_id' is set
        if self.api_client.client_side_validation and ('interest_id' not in params or
                                                       params['interest_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `interest_id` when calling `i_mdb_api_service_get_interest`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'interest_id' in params:
            path_params['interestId'] = params['interest_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/interests/{interestId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ImdbapiInterest',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def i_mdb_api_service_list_interest_categories(self, **kwargs):  # noqa: E501
        """List interest categories  # noqa: E501

        Retrieve all interest categories available in the IMDb API.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.i_mdb_api_service_list_interest_categories(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ImdbapiListListInterestCategoriesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.i_mdb_api_service_list_interest_categories_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.i_mdb_api_service_list_interest_categories_with_http_info(**kwargs)  # noqa: E501
            return data

    def i_mdb_api_service_list_interest_categories_with_http_info(self, **kwargs):  # noqa: E501
        """List interest categories  # noqa: E501

        Retrieve all interest categories available in the IMDb API.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.i_mdb_api_service_list_interest_categories_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ImdbapiListListInterestCategoriesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method i_mdb_api_service_list_interest_categories" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/interests', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ImdbapiListListInterestCategoriesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
