# coding: utf-8

"""
    IMDbAPI

    This is beta version of the IMDb API. It is not yet stable and may change in the future.  # noqa: E501

    OpenAPI spec version: 2.0.2-beta
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from py_imdb_api_dev_client.api_client import ApiClient


class NameApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def i_mdb_api_service_batch_get_names(self, name_ids, **kwargs):  # noqa: E501
        """Batch get names by IDs  # noqa: E501

        Retrieve details of multiple names using their IMDb IDs.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.i_mdb_api_service_batch_get_names(name_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] name_ids: List of IMDb name IDs. Maximum 10 IDs. (required)
        :return: ImdbapiBatchGetNamesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.i_mdb_api_service_batch_get_names_with_http_info(name_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.i_mdb_api_service_batch_get_names_with_http_info(name_ids, **kwargs)  # noqa: E501
            return data

    def i_mdb_api_service_batch_get_names_with_http_info(self, name_ids, **kwargs):  # noqa: E501
        """Batch get names by IDs  # noqa: E501

        Retrieve details of multiple names using their IMDb IDs.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.i_mdb_api_service_batch_get_names_with_http_info(name_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] name_ids: List of IMDb name IDs. Maximum 10 IDs. (required)
        :return: ImdbapiBatchGetNamesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name_ids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method i_mdb_api_service_batch_get_names" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name_ids' is set
        if self.api_client.client_side_validation and ('name_ids' not in params or
                                                       params['name_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `name_ids` when calling `i_mdb_api_service_batch_get_names`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'name_ids' in params:
            query_params.append(('name_ids', params['name_ids']))  # noqa: E501
            collection_formats['name_ids'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v2/names:batch_get', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ImdbapiBatchGetNamesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def i_mdb_api_service_get_name(self, name_id, **kwargs):  # noqa: E501
        """Get name by ID  # noqa: E501

        Retrieve a name's details using its IMDb ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.i_mdb_api_service_get_name(name_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name_id: Required. IMDB name ID in the format \"nm1234567\". (required)
        :return: ImdbapiName
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.i_mdb_api_service_get_name_with_http_info(name_id, **kwargs)  # noqa: E501
        else:
            (data) = self.i_mdb_api_service_get_name_with_http_info(name_id, **kwargs)  # noqa: E501
            return data

    def i_mdb_api_service_get_name_with_http_info(self, name_id, **kwargs):  # noqa: E501
        """Get name by ID  # noqa: E501

        Retrieve a name's details using its IMDb ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.i_mdb_api_service_get_name_with_http_info(name_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name_id: Required. IMDB name ID in the format \"nm1234567\". (required)
        :return: ImdbapiName
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method i_mdb_api_service_get_name" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name_id' is set
        if self.api_client.client_side_validation and ('name_id' not in params or
                                                       params['name_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `name_id` when calling `i_mdb_api_service_get_name`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name_id' in params:
            path_params['name_id'] = params['name_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v2/names/{name_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ImdbapiName',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def i_mdb_api_service_list_name_known_for(self, name_id, **kwargs):  # noqa: E501
        """List known for credits for a name  # noqa: E501

        Retrieve the 'known for' credits associated with a specific name.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.i_mdb_api_service_list_name_known_for(name_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name_id: Required. IMDB name ID in the format \"nm1234567\". (required)
        :param int page_size: Optional. The maximum number of credits to return per page. If not specified, a default value will be used.  The value must be between 1 and 50. Default is 10.
        :param str page_token: Optional. Token for pagination, if applicable.
        :return: ImdbapiListNameKnownForResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.i_mdb_api_service_list_name_known_for_with_http_info(name_id, **kwargs)  # noqa: E501
        else:
            (data) = self.i_mdb_api_service_list_name_known_for_with_http_info(name_id, **kwargs)  # noqa: E501
            return data

    def i_mdb_api_service_list_name_known_for_with_http_info(self, name_id, **kwargs):  # noqa: E501
        """List known for credits for a name  # noqa: E501

        Retrieve the 'known for' credits associated with a specific name.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.i_mdb_api_service_list_name_known_for_with_http_info(name_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name_id: Required. IMDB name ID in the format \"nm1234567\". (required)
        :param int page_size: Optional. The maximum number of credits to return per page. If not specified, a default value will be used.  The value must be between 1 and 50. Default is 10.
        :param str page_token: Optional. Token for pagination, if applicable.
        :return: ImdbapiListNameKnownForResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name_id', 'page_size', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method i_mdb_api_service_list_name_known_for" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name_id' is set
        if self.api_client.client_side_validation and ('name_id' not in params or
                                                       params['name_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `name_id` when calling `i_mdb_api_service_list_name_known_for`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name_id' in params:
            path_params['name_id'] = params['name_id']  # noqa: E501

        query_params = []
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('page_token', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v2/names/{name_id}/known_for', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ImdbapiListNameKnownForResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
